*{
  outline: 1px dashed red;
}

body {
  min-width: 1160px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-family: 'Roboto', sans-serif;
}

h1 {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  padding-bottom: 115px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

h3 a {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-bottom: 25px;
  text-align: center;
}

.container {
  width: 1160px;
  margin: 0 auto;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
  padding-top: 50px;
}

.header-logo {
  float: left;
  width: 160px;
  margin-right: 200px;
}

.header-logo img {
  display: block;
}

.main-navigation {
  float: left;
  width: 440px;
  margin-right: 200px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  padding-right: 45px;
  padding-top: 18px;
  padding-bottom: 5px;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation li:last-child {
  padding-right: 0;
}

.active-page {
  border-bottom: 2px solid #fb565a;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
  padding-bottom: 10px;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.user-block {
  float: right;
  width: 160px;
  text-align: right;
  padding-top: 18px;
}

.basket {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.basket:hover {
  color: #fb565a;
}

.basket::before {
  content: "";
  position: absolute;
  right: 100px;
  top: 2px;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png);
  background-position: -10px -10px;
}

.basket:active {
  color: #000000;
  opacity: 0.3;
}

main {
  margin-bottom: 80px;
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
}

.slider input[type=radio] {
  position:absolute;
  opacity:0;
}

.slider-controls{
  position:absolute;
  bottom:95px;
  left:50%;
  width:200px;
  height:10px;
  margin-left:-100px;
  text-align:center;
  z-index:1000;
}

.slider-controls label {
  display:inline-block;
  width:4px;
  height:4px;
  margin:0 3px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}

.slide {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.slide-info {
  width: 515px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #283136;
  padding-top: 85px;
  padding-bottom: 80px;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 35px;
}

.slide-info p {
  margin-bottom: 45px;
}

.slider-btn {
  width: 140px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fb565a;
}

.slide:nth-child(1){
  background-image: url("../img/slide-bg-1.png");
  background-repeat: no-repeat;
  background-position: 430px 15px;
}

.slide:nth-child(2){
  background-image:url("../img/slide-bg-2.png");
  background-repeat:no-repeat;
  background-position: 500px 10px;
}

.slide:nth-child(3){
  background-image:url("../img/slide-bg-3.png");
  background-repeat:no-repeat;
  background-position:100% 0;
}

.slide{
  display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.main-top {
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 3px solid #eeeeee;
}

.btn {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 0px solid #fff;
  border-radius: 3%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn span:active {
  opacity: 0.3;
}

.slide-btn:hover {
  background-color: #e74246;
}

.slide-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.features {
  position: relative;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  list-style: none;
}

.features ul {
  padding: 0;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item::before{
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  margin-bottom: 30px;
}

.web::before {
  left: 0px;
  background: url("../img/icon-web.png");
}

.app::before {
  left: 400px;
  background: url("../img/icon-app.png");
}

.presentation::before {
  left: 800px;
  background: url("../img/icon-presentation.png");
}

.features p {
  margin: 0;
  margin-bottom: 30px;
}

.features-btn {
  width: 80px;
  padding-right: 40px;
  padding-left: 40px;
}

.web .features-btn{
  background-color: #fb565a;
}

.web .features-btn:hover{
  background-color: #e74246;
}

.web .features-btn:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.app .features-btn {
  background-color: #00ca74;
}

.app .features-btn:hover {
  background-color: #00bc6c;
}

.app .features-btn:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.presentation .features-btn {
  background-color: #efc84a;
}

.presentation .features-btn:hover {
  background-color: #eab534;
}

.presentation .features-btn:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ee961f;
}

.description {
  float:left;
  width: 660px;
  padding-top: 40px;
}

.description ul {
  margin: 0;
}

.description-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
}

.description-main {
  margin-bottom: 40px;
}

.description-list {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.description ul {
  padding: 0;
}

.description-item {
  position: relative;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  padding-left: 37px;
}

.description-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 2px;
  background-color: #fb565a;
  width: 25px;
  height: 2px;
}

.numbers {
  float: right;
  width: 360px;
  font-size: 0px;
  margin: 0;
}

.numbers-list {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 45px;
}

.index-logo {
  display: block;
  height: 208px;
  margin-bottom: 40px;
}

.numbers-item {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.number-name {
  margin: 0;

}

.number {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}

.projects {
  padding-bottom: 45px;
  padding-top: 45px;
  border-bottom: 3px solid #eeeeee;
  font-size: 0;
}

.project-logo {
  display: inline-block;
  width: 260px;
  margin-right: 40px;
  text-align: center;
  color: #000000;
  opacity: 0.2;
  vertical-align: middle;
  font-size: 16px;
}

.project-logo:last-child {
  margin-right: 0;
}

.project-logo:hover {
  opacity: 1;
}

.project-logo:active {
  opacity: 0.1;
}

.main-footer {
  padding-bottom: 70px;
}

.footer-contacts {
  clear:right;
  width: 220px;
  padding: 50px;
  margin-bottom: 70px;
  background-color: #ffffff;
}

.company-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 28px;
}

.contact {
  font-size: 16px;
  line-height: 18px;
}

.adress {
  margin-bottom: 18px;
}

.phone-number {
  margin-bottom: 38px;
}

.feedback-btn {
  width: 130px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fb565a;
  border: 0px solid #fb565a;
  border-radius: 3%;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-top {
   background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
   height: 310px;
    padding-left: 100px;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: 70px;
}

.footer-btn {
  float:left;
  width: 300px;
  margin-right: 100px;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  font-size: 0;
  background-color: #e1e1e1;
  position: relative;
  border: 0px solid #fff;
  border-radius: 50%;
  margin-right: 13px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn:active::before {
  opacity: 0.3;
}

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -10px -304px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -131px;
}

.social-btn-insta::before {
  width: 21px;
  height: 21px;
  background-position: -10px -173px;
}

.social-info {
  float:left;
  width: 560px;
}

.adress {
  color:#666666;
}

.phone-number {
   color:#666666;
}

.social-benefit {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.social-discount {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

form {
  float: left;
  width: 260px;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 17px;
}

.range-filter {
  margin: 0;
  margin-bottom: 56px;
  font-size: 16px;
  line-height: 22px;
}

.range-filter p {
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.radio {
  margin-bottom: 46px;
  color:  #283136;
}

.checkbox {
  margin-bottom: 42px;
}

ul > p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite-1.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -10px -214px;
  opacity: 0.4;
}

input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite-1.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -10px -259px;
}

input[type="radio"]:disabled + label {
  opacity: 0.2;
}

input[type="radio"] + label:hover::before {
  opacity: 1;
}

.radio-input label:hover {
  color: #000000;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite-1.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: -10px -45px;
  opacity: 0.4;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite-1.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  background-position: -10px -88px;
}

input[type="checkbox"]:disabled + label {
  opacity: 0.2;
}

input[type="checkbox"] + label:hover::before {
  opacity: 1;
}

.checkbox-input label:hover {
  color: #000000;
}

.form-btn {
  width: 80px;
  background-color: #eeeeee;
  border: 0px solid #eeeeee;
  border-radius: 3%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
}

.form-btn a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.form-btn:hover {
  background-color: #dfdfdf;
}

.form-btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.catalog{
  float: right;
  width: 760px;
}

.items {
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  position: relative;
  width: 360px;
  margin-bottom: 36px;
  margin-right: 40px;
  vertical-align: top;
  font-size: 16px;
  padding-top: 40px;
}

.catalog-item:nth-child(2n){
  margin-right: 0px;
}

.catalog-item img {
  display: block;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/item-top.png");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.hover {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;
  padding-top: 35px;
  padding-bottom: 45px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #eeeeee;
}

.hover p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 32px;
  text-align: center;
  color: #666666;
}

.price-btn {
  width: 80px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  background-color: #fb565a;
  margin-left: 20px;
  margin-right: 20px;
}

.catalog-item:hover ~ .hover {
  display: block;
}

.classify{
  margin: 0;
  margin-bottom: 57px;
}

.classify p{
  float:left;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.filter {
  float:right;
}

.filter a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  margin: 0;
  margin-right: 28px;
}

.filter a:last-child {
  margin-right: 50px;
}

.filter a:hover {
  opacity: 0.6;
}

.filter a:active {
  opacity: 1;
}

.filter .active-filter {
  opacity: 1;
}

.sort {
  float:right;
}

.sort-down {
  display: inline-block;
  font-size: 0;
  position: relative;
  cursor: pointer;
  width: 9px;
  height: 9px;
  margin-right: 20px;
}

.sort-down::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(../img/spritesheet%20sort.png);
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
  background-position: -10px -10px;
}

.sort-up {
  display: inline-block;
  font-size: 0;
  position: relative;
  cursor: pointer;
  width: 9px;
  height: 9px;
}

.sort-up::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(../img/spritesheet%20sort.png);
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
  background-position: -10px -39px;
}

.paginator {
  font-size: 0;
}

.paginator a {
  display: inline-block;
  margin: 0;
  margin-right: 18px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background: #eeeeee;
  border: 0px solid #eeeeee;
  border-radius: 3%;
}

.page-number {
  min-width: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-number.current {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px  #eeeeee;
}

.next {
  width: 100px;
  padding-left: 80px;
  padding-right: 80px;
  text-transform: uppercase;
}

.page-number:hover {
  background-color: #dfdfdf;
}

.page-number:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.page-number span:active {
  opacity: 0.3;
}
